.gear_in{background-image: url("../img/16/gear_in.png") !important;}
.profiles{background-image: url("../img/16/profiles.png") !important;}
.user_batman{background-image: url("../img/16/user_batman.png") !important;}
.report_stack{background-image: url("../img/16/report_stack.png") !important;}
.document_next{background-image: url("../img/16/document_next.png") !important;}


.user_edit{background-image: url("../img/16/user_edit.png") !important;}
.group_key{background-image: url("../img/16/group_key.png") !important;}
.class_module{background-image: url("../img/16/class_module.png") !important;}
.profiles{background-image: url("../img/16/profiles.png") !important;}
.chart_curve_edit{background-image: url("../img/16/chart_curve_edit.png") !important;}
.dashboard{background-image: url("../img/16/dashboard.png") !important;}
.email_setting{background-image: url("../img/16/email_setting.png") !important;}
.track_changes_2{background-image: url("../img/16/track_changes_2.png") !important;}
.balance{background-image: url("../img/16/balance.png") !important;}
.document_copies{background-image: url("../img/16/document_copies.png") !important;}
.categories{background-image: url("../img/16/categories.png") !important;}
.clock_history_frame{background-image: url("../img/16/clock_history_frame.png") !important;}

/*Generic*/
.pencil{background-image: url("../img/16/pencil.png") !important;}
.cross{background-image: url("../img/16/cross.png") !important;}
.arrow_left{background-image: url("../img/16/arrow_left.png") !important;}
.arrow_right{background-image: url("../img/16/arrow_right.png") !important;}
.save_as{background-image: url("../img/16/save_as.png") !important;}
.cancel{background-image: url("../img/16/cancel.png") !important;}
.application_form_edit{background-image: url("../img/16/application_form_edit.png") !important;}

/*Admin/Users*/
.user_add{background-image: url("../img/16/user_add.png") !important;}
.excel_imports{background-image: url("../img/16/excel_imports.png") !important;}
.user_add32{background-image: url("../img/32/user_add.png") !important;}